body {
  display: flex;
  flex-direction: column;
  padding-left: 156px;
  padding-top: 36px;
}
form {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.label-input {
  display: flex;
  flex-direction: column;
}
.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
input:hover {
  border: 1px solid #000;
}
input:active {
  border: 1px solid #4e75ff;
}
fieldset {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 362px;
  height: 66px;
  display: flex;
  gap: 24px;
}
fieldset:hover {
  stroke: #000;
}
fieldset:active {
  border: 1px solid #4e75ff;
}
legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
}
.radio-input {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}
.label-radio {
  display: flex;
  gap: 8px;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background: #6c8cff;
}
